/* General styling for the recipe cards container */
.recipes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.recipie-card {
  background: #fff;
  border-radius: 8px;
  display: f;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.recipie-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.recipie-card h3 {
  font-size: 18px;
  margin: 10px;
  text-align: center;
}

.recipie-details {
  padding: 10px;
  background-color: #f9f9f9;
}

.recipie-details p {
  font-size: 14px;
  margin: 5px 0;
}

.recipie-details ul {
  list-style: disc;
  padding-left: 20px;
}
